
body {
    font-family: Arial, sans-serif;
    background: #fdf6ea;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.menu {
    width: 560px;
    background: #ffffffaa;
    border: 2px solid #f6a6608d;
    border-radius: 15px;
    padding: 15px 30px;
}

hr {
    border: none;
    height: 2px;
    background-color: #f6a6608d;
}

.title {
    font-size: 2rem;
    cursor: pointer;
    font-weight: bold;
    color: #F6A760;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title::after {
    content: "▼";
    font-size: 1.5rem;
    margin-left: auto;
}

summary::-webkit-details-marker {
    display: none;
}

.menu ul {
    margin: 10px 0 0;
    padding-left: 18px;
}

.menu li {
    margin: 10px 0;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

